@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: flex;
    text-align: left;
    padding: 4px;
    text-decoration: none;
}

.oneli {
    float: left;
}

.checked {
    color: orange;
    font-size: 25px;
}

li {
    padding: 4px;
}