body {
    font-family: Calibri, Myriad;
}

div {
    margin-bottom: 5px;
}


/* Your solution goes here */

label {
    display: inline-block;
    width: 120px;
}

input,
textarea {
    width: 300px;
    padding: 10px;
}

.submit {
    width: auto
}

.required::after {
    content: " *";
    color: red
}

label+input {
    background-color: rgb(219, 241, 248);
}